#chat-form {
    background: #33345f;
  }
  
  #chat-form > img {
    cursor: pointer;
  }
  
  #chat-form {
    display: column;
    align-content: center;
    align-items: center;
    grid-area: chat-form;
    border-radius: 0 0 10px 0;
    height:100px;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-left: 1px solid rgba(0,0,0,0.25);
    padding-left: 42px;
    padding-right: 22px;
  }
  #chat-utilities{
    background: #3f4269;
    color: #757899;
    margin-top: 15px;
    border-radius: 80px;
  }
  #chat-form input {
    outline: none;
    margin-left: 20px;
    width:60%;
    border: 2px solid#3f4269;
    background: #3f4269;
    color: #fff;
    height:50px;
    font-size: 1.4rem;
  }
  .formIcon{
    color:#757899;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30pt;
  }